[Desktop Entry]
Type=Application
Name=Tekisasu-Graphics
GenericName=Sprite Editor
Comment=Animated sprite editor & pixel art tool
Icon=tekisasu-graphics
Categories=Graphics;2DGraphics;RasterGraphics
Exec=Tekisasu-Graphics %U
TryExec=Tekisasu-Graphics
Terminal=false
StartupNotify=false
StartupWMClass=Tekisasu-Graphics
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/x-pcx;image/x-tga;image/vnd.microsoft.icon;video/x-flic;image/webp;image/x-aseprite;
